/* importacion de fuentes */ 

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Poppins:wght@200&family=Raleway:wght@300&display=swap');

*{
    margin: 0;
    
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

#logo{
    cursor: pointer;
    transition: ease-out;
    margin-left: 20px;
}

#logo:hover{
    color: #32527b;
    transition: 1s;
}


nav{
    display: flex;
    list-style: none;
    justify-content: center;
    font-family: 'Noto Serif';
    align-items: center;
}

nav a{
    margin-right: 20px;
    cursor: pointer;
    background-color: aliceblue;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    transition: 1s;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover{
   background-color: #32527b; 
}
#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-image: url(https://i.pinimg.com/originals/43/a2/0a/43a20aac3cc7bdec1bf9ef9c8f3dcf70.jpg);
    height: 700px;
    margin-left: 0px;
    margin-right: 0px;
}


#titulo1{
    text-align: center;
    font-family: 'Raleway';
    font-size: 50px;
    color: white;
}

#description{
    font-size: 20px;
    color: white;
    font-family: 'Poppins';
    font-weight: bold;
}

#titulo2{
    margin-bottom: 100px;
    font-size: 35px;
    font-family: 'Raleway';
}

#table-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    font-family: 'Poppins';
}

.table-img{
    display: flex;
    margin: auto;
    width: 250px;
    align-items: center;
    border-radius: 5px;
}

table{
    width: 1000px;
    text-align: center;
    font-size: 20px;
}

table th{
    border: 1px #32527b solid;
    border-radius: 5px;
}

table td{
    border: 1px #32527b solid;
    border-radius: 5px;
}

footer{
    margin-top: 100px;
    flex-direction: column;
    display: flex;
    align-items: center;
    font-family: 'Poppins';
}

::-webkit-scrollbar {
    display: none;
}

#btn{
    border: none;
    padding: 10px 10px 10px 10px;
    background: #32527b;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    font-family: 'Poppins';
    cursor: pointer;
    margin-right: 10px;
}

#btn:hover{
    background-color: white;
    transition: 2s;
    color: black;
}

#btn2{
    border: none;
    padding: 10px 10px 10px 10px;
    background: #32527b;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    font-family: 'Poppins';
    cursor: pointer;
    text-decoration: none;
}

#btn2:hover{
    background-color: white;
    transition: 2s;
    color: black;
}